body {
	background-color: #e7e7f9;
}

.navbar {
	margin-bottom: 5px;
	background-color: #d0d3f1;
}

.navbar-brand img {
	width: 130px;
	margin-top: -13px;
}

.cls-main-container {
	margin-top: 50px;
}

.cls-toolbar {
	padding: 5px 0px;
}

.cls-toolbar-gray {
	background-color: #dedeff;
	padding: 5px 0px;
}

.cls-filters-title {
	font-size: 18px;
	text-align: center;
	color: #bbb;
	margin-top: 10px;
	margin-bottom: 6px;
	border-bottom: 1px solid #d8d8d8;
}

textarea {
	resize: none;
}

h3.cls-title {
	color: #5D88C3;
	margin: 10px 0px;
	padding-bottom: 5px;
	border-bottom: 1px solid #5D88C3;
	font-size: 20px;
	font-weight: bold;
}

h5.cls-title {
	color: #5D88C3;
	margin: 10px 0px;
	padding-bottom: 5px;
	border-bottom: 1px solid #5D88C3;
	font-size: 16px;
}

table.cls-table,
table.cls-table-sm {
	margin-bottom: 5px;
}

table.cls-table, 
table.cls-table-sm, 
form {
	font-size: 13px;
}

table.cls-table thead tr,
table.cls-table-sm thead tr {
	background-color: #d0d3f1;
}

table.cls-table tbody,
table.cls-table-sm tbody {
	background-color: #fff;
}

table.cls-table tbody td {
	line-height: 16px;
	height: 33px;
}

table.cls-table-sm tbody td {
	line-height: 14px;
}

table.cls-table tbody tr:hover,
table.cls-table-sm tbody tr:hover {
	background-color: #e6e6e6;
}

table.cls-table tr td .cls-actions,
table.cls-table-sm tr td .cls-actions {
	display: none;
}

table.cls-table tr:hover td .cls-actions,
table.cls-table-sm tr:hover td .cls-actions {
	padding: 0px;
	display: block;
}

table td .cls-small {
	font-size: 12px;
	line-height: 16px;
	color: #666;
	margin-top: 3px;
}

table td .cls-xsmall {
	font-size: 11px;
	line-height: 11px;
	color: #666;
	margin-top: 2px;
}

table td .cls-small-collapsed {
	line-height: 16px;
	height: 16px;
	overflow: hidden;
}

nav.cls-pagination {
	text-align: right;
}

ul.pagination {
	cursor: pointer;
	margin: 5px 0px;
}

ul.pagination li span,
ul.pagination li span:hover {
	color: #333;
	border-color: #a9a9a9;
}

.btn-block {
	margin-top: 5px;
}

.cls-pointer {
	cursor: pointer;
}

.cls-small {
	font-size: 12px;
}

.cls-xsmall {
	font-size: 11px;
}

.cls-form-detail {
	margin: 6px 0px;
}

.cls-form-detail input {
	font-size: 13px;
	padding: 5px;
	height: 28px;
}

.cls-filters {
	padding: 10px 5px 5px 5px;
	margin-bottom: 5px;
	background-color: #e2e2e2;
	border-radius: 5px;
	font-size: 12px;
}

.cls-filters .row {
	margin-bottom: 5px;
}

.cls-nav-tabs {

}

.cls-nav-tabs li a {
	padding: 5px 10px;
}

.cls-tab-contents {
	padding: 10px;
	border: 1px solid #ddd; 
	border-top: 0px;
}

.cls-tab-pill-contents {
	padding: 20px 30px;
}

.cls-form-text {
	color: #3841a7;
	font-size: 14px;
}

.cls-selected {
	background-color: #fff7c0;
}

.cls-list-requirements {
	background-color: #fff;
}

.cls-side-form {
	border: 1px solid #b7cae4;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 5px;
}

.label-light {
	background-color: #bbb;
}

input.cls-input-large { width: 250px !important; }
input.cls-input-medium { width: 150px !important; }
input.cls-input-small { width: 90px !important; }

.cls-sales-totals > div {
	font-size: 15px;
	font-weight: bold;
}

.cls-sales-totals > div:last-child {
	font-size: 18px;
}

.cls-switch {
	border: 1px solid #bbb;
	border-radius: 3px;
	padding: 2px;
	margin-top: 8px;
	text-align: center;
	cursor: pointer;
}

.cls-switch-no {
	background-color: #d0d0d0;
}

.cls-switch-yes {
	color: #fff;
	background-color: #5cb85c;
}

input.cls-error {
	border-color: #bd0000;
	color: #bd0000;
}

.cls-negative {
	color: #ff0000;
	font-weight: bold;
}

.cls-bold {
	font-weight: bold;
}

.cls-receipt-title {
	text-align: center;
	border: 1px solid #aaa;
	border-radius: 4px;
}