<div class="container-fluid">
	<h3 class="cls-title">{{title}}</h3>

	<form class="row">
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label>Nombre:</label>
						<input type="text" class="form-control" ng-model="data.name" autocomplete="off" maxlength="5">
					</div>
				</div>
				<div class="col-sm-8">
					<div class="form-group">
						<label>Descripción:</label>
						<input type="text" class="form-control" ng-model="data.description" autocomplete="off" maxlength="50">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label>Mínimo:</label>
						<input type="number" string-to-number class="form-control text-right" ng-model="data.min" autocomplete="off">
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label>Máximo:</label>
						<input type="number" string-to-number class="form-control text-right" ng-model="data.max" autocomplete="off">
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label>Pasos:</label>
						<input type="number" string-to-number class="form-control text-right" ng-model="data.steps" autocomplete="off">
					</div>
				</div>
			</div>


		</div>
	</form>

	<!-- form toolbar -->
	<div ng-include="tpls.form_toolbar"></div>
		
</div>